@import "../../styles/_general_styling.scss";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.button_section {
    @extend .button_section
}

.message {
    height: 60px;
    margin-top: 20px;;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}